<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>GENERATOR ZMAGOVALNIH LOTO ŠTEVILK</title>

 <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>


</head>
<body>    

 <div class="header">
    <h1>Hej, dobrodošel! </h1>
       </div>

 <div class="besedilo">
<p> Bi rad generiral osem naključnih zmagovalnih številk ?</p>
 </div>
    
<form>
<input type="submit" value="Prikaži moje srečne številke" a href="loto.html">
</form>
</body>
</html>